
<div class='splash-screen'>
  <h1 class= 'splash-title'> BudgetExpenses </h1>


<div class= 'links_buttons'>
  <%= button_to "LOG IN", new_user_session_path, method: :get, class: 'btn btn-primary link_button' %>
  <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: 'btn btn-light link_button'%>
</div>

</div>

