@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNova-Regular.woff2') format('truetype');
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.splash-title {
  font-family: 'Proxima Nova';
  font-weight: bold;
  text-align: center;
}

.splash-screen {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.splash-screen h1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-screen .links_buttons {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}

.links_buttons form {
  width: 90%;
  margin: 0.2rem auto;
}

.link_button {
  width: 100%;
}

.header {
  width: 100%;
  padding: 0.5rem;
  background-color: #3778c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  width: 90%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  border: none;
  background-color: #3778c2;
  color: white;
}

.cancel-center {
  margin-left: 5%;
  margin-right: auto;
}
